@font-face {
  font-family: "MS Sans Serif Bold";
  src: url("../src/assets/fonts/ms-sans-serif-1.ttf") format("truetype"),
       url("../src/assets/fonts/ms-sans-serif-b.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "MS Sans Serif Bold", Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
